/* Work sans font from google font */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

  /* share style */

/* *{
    margin: auto;
    padding: 0px;
} */

  * {
    font-family: 'Work Sans', sans-serif;
  }
.btn-Primary {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    background: #FF900E;
    border: none;
    width: 180px;
    height: 64px;
}

/* share end */
  header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 100px;
  }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-taitel {
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
}

nav > ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 35px;
    font-weight: 500;

}
nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-titel {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.benner-description {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
}
.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main style */

main {
    max-width: 1440px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.tem-container {
    display: flex;
    align-items: center;
}
.Tem-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.tem-contant-2 {
    margin-left: 50px;
    margin-right: 20px;
}

.tem-Titel {
    color:  #FF900E;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}
.Quick {
    color: #727272;
    font-weight: 500;
}
.of-our {
    color: #131313;
    font-weight: 600;
}

.tem-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* card section */
.section-titel {
    color: #131313;
    font-weight: 600;
    font-size: 2.7rem;
    margin-bottom: 10px;
}

.decoration {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}
.facts-card-container-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    
}

.card-stats {
    font-size: 2.5rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-titel {
    font-size: 1.4rem;
    color: #727272;
    font-weight: 600;
    margin-top: 5px;
}

.our-spt {
    text-align: center;
    margin-top: 80px;
}
.our-spt h2 {
    font-size: 45px;
    color: #131313;
    margin-bottom: 3px;
    font-weight: 700;
    line-height: normal;
}
.our-spt p {
    font-size: 15px;
    color: #727272;
    font-weight: 400;
    line-height: 26px;
}

/* sponsor section */
.sponsor-img {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
/* Footer secton */
.fotter20 {
    border-radius: 8px;
    background: #FFF4E7;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 10px;
}

.fotter20 p {
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

/* respponsive media quaries */
/* mobile Devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
    .tem-container {
        flex-direction: column;
    }
    .Tem-img-container {
        grid-template-columns: 1fr;
    }
    .section-titel {
        flex-direction: column;
    }
    .facts-card-container {
        flex-direction: column;
        gap: 10px;
    }
    .sponsor-img {
        flex-direction: column;
    }
}
/* tab or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }
    nav {
        flex-direction: column;
    }
    .tem-container {
        flex-direction: column;
    }
    .facts-card-container {
        flex-direction: column;
        gap: 10px;
        padding: 50px;
    }
    .sponsor-img {
        flex-direction: column;
    }
}